:root{
    --gap: 10px;
    --border-radius: 10px;

    --brown: rgb(119, 69, 4);
}

*,
*::after,
*::before{
    box-sizing: border-box;;
    margin: 0;
}

html{
    font-family: monospace;
    font-size: 20px;
}

body{
    background-color: rgba(252, 205, 87, 0.536);
}

h1{
    font-size: 2rem;
    min-height: 1.5em;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 60px 0 10px;
    margin-top: 20px;
    margin-bottom: 15px;

    @media(width < 450px){
        &{
            font-size: 1.6rem;
            justify-content: center;
        }
    }
}

h2{
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: fit-content;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 0px 5px;
}

.underlined{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: wheat;
    opacity: 0.3;
    z-index: -1;
    border-radius: 6px;
}

.heading{
    display: flex;
}

.underlined-h1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
    z-index: -1;
    border-radius: 6px;
    border: 1px dashed black;
}

.default-underlined-color{
    background-color: burlywood;
}

article{
    z-index: -1;
} 

h3{
    font-size: 0.7rem;
}

p{
    font-size: 0.5rem;
    text-align: left;
}

main{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
    position: relative;

    @media(width < 645px){
        margin: 20px auto;
    }
}

.blur-spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    opacity: 1;
    transition: opacity .4s ease;
}

img{
    height: 130px;
    display: block;
    border-radius: var(--border-radius);
}

article{
    min-height: 162px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px dashed black;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    padding: 15px;
    width: 100%;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 5px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);

    @media(width < 920px){
        grid-template-columns: 1fr 1fr;
    }

    @media(width < 630px){
         grid-template-columns: 1fr;
    }
}

button {
  padding: 0;           /* Elimina espacio interno del botón */
  border: none;         /* Opcional, para que no tenga borde */
  background: none;     /* Opcional, quitar fondo por defecto */
  cursor: pointer;
  margin: 10px;
  position: fixed;
  bottom: -50%;
  right: 0;
  transition: bottom .4s ease;
}

.dice-btn:active{
    animation: prueba 2s forwards;
}

@keyframes moveUpAndDown {
    0% {bottom: -50px;}
    60% {bottom: 20px;}
    100% {bottom: 0}
}

@keyframes moveUpAndDownLOOP {
    0% {bottom: 0;}
    10% {bottom: 10px;}
    20% {bottom: -5px;}
    30% {bottom: 0;}
    100% {bottom: 0}
}

@keyframes prueba {
    0% {bottom: 10px;}
    10% {bottom: -5px;}
    20% {bottom: 10px;}
    30% {bottom: -5px;}
    100% {bottom: 0}
}

button.show{
    bottom: 0;
    animation: moveUpAndDown 1s forwards, 
    moveUpAndDownLOOP 5s 2s infinite;
}

.pokedex-btn{
    display: block;
    height: 80px;
    width: 80px;
    margin: 20px;
}

.dice-btn{
    transition: transform .2s ease;
}

@media (hover:hover) and (pointer:fine){
    .dice-btn:hover{
        transform: rotate(35deg) scale(1.1);
    }
}


.metres{
    display: flex;
    gap: 5px;
}

.metres::after{
    content: 'm';
    font-weight: 200;
    color: var(--brown);
}

.kg{
    display: flex;
    gap: 5px;
}

.kg::after{
    content: 'kg';
    font-weight: 200;
    color: rgb(57, 96, 5);
}

.height{
    color: var(--brown);
}

.weight{
    color: rgb(57, 96, 5);
}

.types{
    color: rgb(0, 2, 124);
}

.abilities{
    color: rgb(143, 0, 109);
}

.pikachu-heading{
    width: 125px;
    height: 125px;
    right: -45px;
    bottom: -20px;
    position: absolute;

    @media(width < 450px){
        &{
            width: 100px;
            height: 100px;
            right: -25px;
            bottom: -18px;
        }
    }
}


ul{
    padding: 0;
    list-style-type: none;
}
